.textfeld, textarea, select{
  border: 1px solid #d0cece;}

content {
  color:#d0cece;
  font-size:11px;
  font-family: Verdana,Helvetica,Geneva,Swiss,Sans-Serif;
  background-color:#fFfFfF;}

td.truc {
  color:#000000;
  font-size:11px;
  font-family: Verdana,Helvetica,Geneva,Swiss,Sans-Serif;
  margin:0px}

p.normal {
  color:#000000;
  font-size:11px;
  font-family: Verdana,Helvetica,Geneva,Swiss,Sans-Serif;
  margin:0px; }

a.trac {
  color:#000000;
  font-size:11px;
  font-family: Verdana,Helvetica,Geneva,Swiss,Sans-Serif;
  margin:0px;
  /* background-color:#efefef; */}

/* a {color:#000000; text-decoration:none } */
/* a:hover,a:activ { color: #FF3300; BORDER-BOTTOM-COLOR: #b3cfeb; } */

a {text-decoration:none }
a:hover,a:activ { color: #f19515; text-decoration:underline }

td.petit {
  color:#000000;
  font-size:9px;
  font-family: Verdana,Helvetica,Geneva,Swiss,Sans-Serif;
  margin:0px;
  /* background-color:#efefef; */}

table.shop_table {
  width:680px;
  height:100%;
  padding:0px;
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
  border-collapse: collapse; 
  border-top-width:0px;
  border-top-style:solid;
  border-top-color:#d0cece;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#d0cece;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#d0cece;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:#d0cece;
  background-color:#ffffff }

table.shop {
width:100%;
  height:100%;
  border-collapse: collapse;
  margin:0px;
  padding:0px}

p.titre4 {
  font-size:30px;
  color:#663300;
  font-family: Verdana,Helvetica,Geneva,Swiss,Sans-Serif}

/* filter:progid:DXImageTransform.Microsoft.Shadow(color=#555555,Direction=155,Strength=5) */